<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control"%><br><br>
  </div>
   
    <div class="field form-group">
      <%= f.label "Photo" %>
      <%= f.file_field :avatar %>
    </div>   <br><br>
  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>


<% end %>
