<h1>Current Users</h1>




<table class "table" style="width:100%">
  <tr>
    <th>Name</th>
    <th>Picture</th>   
    <th>Update Record</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><b><%= user.name %></b></td>
      <td>
          <%=image_tag user.avatar.url (:medium) %>
           </td>
      <td> 
          <div class="btn-group">
          <%= link_to 'Show', user, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-default" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
          </div>
      </td>
    </tr>  
  <%end%>
   
</table>

<br>
<br>
<%= link_to 'New User', new_user_path, class: "btn btn-primary active" %>
<br>
<br>
