<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <br>
  <%= image_tag @user.avatar.url(:medium) %>
</p>

<br>
<br>
<%= link_to 'Edit', edit_user_path, class: "btn btn-primary active" %> | <%= link_to 'Back', users_path, class: "btn btn-primary active" %>
<br>
<br>


