<h1>Welcome to my boss blog.</h1>
<p>Perhaps you're curious to learn a little more about me? I'm Lizzy. I'm a Librarian at Georgia Tech. I love soccer, radio, music, dogs, and murder mysteries. Also, I'm the boss. </p>
<br>
<h3>Here's a picture of me.</h3>
<div class="text-center"%>
<%= image_tag "ucla.jpg", width: "60%", height: "60%"%>
</div>
<br>


<h3>Here are some pictures of stuff that I love.</h3>

<div class="image-container">
	<div class="row" >
		<div class = "col-md-6">
  			<%= image_tag "coffee.jpg", width: "70%", height: "70%", align: "right"%><br>
  			<%= image_tag "Seth.jpg" , width: "70%", height: "70%", align: "right"%>
 		</div>

 		<div class ="col-md-6">
 			<%= image_tag "forest.jpg", width: "70%", height: "70%", align: "left" %><br>
  			<%= image_tag "pizza.jpg", width: "70%", height: "70%", align: "left" %>
 		</div>
 	</div>
 </div>		

 <br>
 <br>